<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QueryBot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav class="navbar">

        <div class="logo">
            🤖 QueryBot
        </div>

        <div class="nav-menu">
            <nav>
                <a class="nav-btn" href="{{ url_for('home') }}">Home</a>
                <a class="nav-btn" href="{{ url_for('chatbot') }}">Chat</a>
            </nav>
        </div>

    </nav>

    <div class="hero">

        <h1>QUERYBOT</h1>

        <p>Your Smart AI Assistant</p>

        <div class="robot-container">

            <div id="sketch-board-con">
                <div id="sketch-board">
                    <div id="head">
                        <div id="lens">
                            <div id="upper-shadow"></div>
                            <div id="rect"></div>
                            <div id="eyes"></div>
                        </div>
                    </div>

                    <div id="ear">
                        <div id="ear-antenna"></div>
                    </div>

                    <div id="small-cap"></div>

                    <div id="body">
                        <div id="shadow-box"></div>
                        <div id="pocket-area">
                            <div id="pocket"></div>
                        </div>
                    </div>

                    <div id="hands">
                        <div class="hand"></div>
                        <div class="hand"></div>
                    </div>
                </div>

                <div id="robot-shadow"></div>
            </div>

        </div>

        <button onclick="window.location.href='templates/chat.html'">
            <a href="/chatbot">Open QueryBot

            </a>

        </button>

    </div>

</body>

</html>